// Colors
$brand-color: #000;
$accent-color: #ea4c89;
$color-main: #333;
$color-light: #999;
$color-bg-lightgrey: #ebebeb;
$lightgrey: #f6f6f6;

$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

// Font family
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Times, Georgia, serif;

// Font weights
$light: 100;
$regular: 400;
$semibold: 500;
$bold: 600;

// Font size
$font_xxlarge : 2.250rem; //36px
$font_xlarge : 1.875rem; //30px
$font_large : 1.500rem; //24px
$font_medium : 1.125rem; //18px
$font_normal : 1rem; //16px
$font_small : 0.875rem; //14px
$font_xsmall : 0.750rem; //12px

$max_width : 1322px;