html,
body {
  height: 100%;
  position: relative;
}

body {
  color: #000;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img,
embed,
object,
video,
iframe {
  max-width: 100%;
}

video,
iframe,
img {
  height: auto;
}

.embed {
  position: relative;
  padding: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  /* 4:3 aspect ratio its padding-bottom: 75% */
  height: 0;
  overflow: hidden;
  margin-bottom: 2em;
}
.embed iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 5px;
}

.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 5px;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 5px;
}

img.alignnone {
  margin: 0;
}

img.alignleft,
img.alignright {
  max-width: 50%;
}

figcaption {
  font-size: 0.75em;
  margin-top: 2px;
}

.table {
  display: table;
  height: 90%;
  width: 100%;
  position: relative;
  z-index: 9;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 35px 15px;
  color: #ea4c89;
  background: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  display: inline-block;
}
.btn:hover {
  background: #ea4c89;
  color: #000;
  border-color: #ea4c89;
}

/* LINKS
--------------------------------------------------------*/
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ea4c89;
}

/* TYPOGRAPHY
--------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h1.small,
h1 small, h2.small,
h2 small, h3.small,
h3 small, h4.small,
h4 small, h5.small,
h5 small, h6.small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

h1.small,
h1 small, h2.small,
h2 small, h3.small,
h3 small {
  font-size: 65%;
}

h4.small,
h4 small, h5.small,
h5 small, h6.small,
h6 small {
  font-size: 75%;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  margin: 0 0 10px;
}
p.lead {
  font-size: 1.375rem;
}

/* SECTIONS
--------------------------------------------------------*/
.site-width {
  max-width: 1322px;
  width: 95%;
  margin: 0 auto;
}

/* BLOCKGRID
--------------------------------------------------------*/
[class*=block-grid-] {
  display: block;
  padding: 0;
  margin: 0 -0.938rem;
  overflow: hidden;
}

[class*=block-grid-] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.938rem 1.11111rem;
}

.block-grid-module {
  margin: 0 -0.469rem;
}

.block-grid-module > li {
  width: 50%;
  padding: 0 0.469rem 1.11111rem;
}
.block-grid-module > li:nth-of-type(2n+1) {
  clear: both;
}

/* FLEX GRID */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.row-strip,
[class*=row-strip-] {
  margin: 0 -10px;
}

.row-box {
  width: calc(100% - 20px);
  margin: 0 10px 20px;
  float: left;
  flex: 0 0 auto;
  position: relative;
}
.row-strip-6 .row-box {
  width: calc(100% - 20px);
}
.row-strip-4 .row-box {
  width: calc(100% - 20px);
}
.row-strip-3 .row-box {
  width: calc(100% - 20px);
}
.row-strip-8--4 .row-box.box-8 {
  width: calc(100% - 20px);
}
.row-strip-8--4 .row-box.box-4 {
  width: calc(100% - 20px);
}

.row-box.vertical-middle, .row-box.vertical-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row-box.vertical-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.row-box.vertical-bottom {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.row-box figure {
  position: relative;
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
  color: #272727;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:-moz-placeholder {
  color: #272727;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-moz-placeholder {
  color: #272727;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
  color: #272727;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HELPER
--------------------------------------------------------*/
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
